<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

</head>

<body class="text-white" style="background: rgb(43, 49, 55); position: relative;" data-spy="scroll">
    <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <form action="/admin/login" id="frmLogout" method="POST"></form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#cgr" style="color: #8d9eac;">Danh mục</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#prd" style="color: #8d9eac;">Sản phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#bidders" style="color: #8d9eac;">Bidder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sellers" style="color: #8d9eac;">Seller</a>
            </li>
        </ul>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="d-flex flex-direction-row justify-content-end">
                <a class="nav-link text-secondary" href="javascript: $('#frmLogout').submit()">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="cgr" style="color: #8d9eac;">
            <div class="row" style="padding: 10px;">
                <div class="col-md-11">
                    <h4>Quản lý danh mục</h4>
                </div>
                <div>
                    <button class="btn btn-warning">Thêm</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Danh mục</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Điện thoại</h6>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Máy tính</h6>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Bất động sản</h6>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Xe</h6>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="prd" style="color: #8d9eac;">
            <div class="row" style="padding: 10px;">
                <div class="col-md-11">
                    <h4>Quản lý sản phẩm</h4>
                </div>
                <div>
                    <button class="btn btn-warning">Thêm</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Sản phẩm</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">iPhone 11</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Nhà nguyên căn quận 10</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Honda Civic</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Toyota Camry</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="bidders" style="color: #8d9eac;">
            <div class="col-md-11" style="padding: 10px;">
                <h4>Quản lý bidder</h4>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Bidder</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Lê Tấn Thịnh</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Lê Hồng Thái</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Cao Đình Vĩ</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">John Cena</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Duyệt seller</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Lê Tấn Thịnh</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-success">Duyệt</a>
                                        <a href="" class="btn btn-outline-danger">Huỷ</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Lê Hồng Thái</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-success">Duyệt</a>
                                        <a href="" class="btn btn-outline-danger">Huỷ</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Cao Đình Vĩ</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-success">Duyệt</a>
                                        <a href="" class="btn btn-outline-danger">Huỷ</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="sellers" style="color: #8d9eac;">
            <div class="col-md-11" style="padding: 10px;">
                <h4>Quản lý seller</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Bidder</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Lê Tấn Thịnh</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                        <a href="" class="btn btn-outline-secondary">Hạ cấp</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Lê Hồng Thái</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                        <a href="" class="btn btn-outline-secondary">Hạ cấp</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">Cao Đình Vĩ</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                        <a href="" class="btn btn-outline-secondary">Hạ cấp</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="media">
                                            <figcaption class="media-body">
                                                <h6 class="title text-truncate">John Cena</h6>
                                                <a href="" style="color: #8d9eac;">Chi tiết</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-outline-warning">Sửa</a>
                                        <a href="" class="btn btn-outline-danger">Xoá</a>
                                        <a href="" class="btn btn-outline-secondary">Hạ cấp</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>