<!-- body -->
<div class=" container-fluid d-flex align-items-center justify-content-center" style="background-color: #353A40;">
  <div class="display-4 text-light py-4 text-center">SÀN ĐẤU GIÁ LỚN NHẤT THẾ GIỚI</div>
</div>
<div class="container my-5">

  <!-- Khung TOP 5 sản phẩm -->
  <div class="top5-wrapper my-3">
    <!-- Tiêu đề  -->
    <div class="tieude tieude1 text-light d-flex justify-content-center">
      <h2>
        SẮP KẾT THÚC
      </h2>
    </div>

    <!-- Slide sản phẩm -->
    <div class="top5 d-flex justify-content-center p-2" id="wrapper">
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent px-3 py-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent px-3 py-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent px-3 py-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent px-3 py-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent px-3 py-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>

    </div>
  </div>

  <!-- Khung TOP 5 sản phẩm -->
  <div class="top5-wrapper my-5 py-3">
    <!-- Tiêu đề  -->
    <div class="tieude tieude2 text-light d-flex justify-content-center">
      <h2>
        TOP XU HƯỚNG
      </h2>
    </div>

    <!-- Slide sản phẩm -->
    <div class="top5 d-flex justify-content-center p-2" id="wrapper">
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>

    </div>
  </div>

  <!-- Khung TOP 5 sản phẩm -->
  <div class="top5-wrapper my-3">
    <!-- Tiêu đề  -->
    <div class="text-light d-flex justify-content-center">
      <h2>
        TOP SIÊU PHẨM
      </h2>
    </div>

    <!-- Slide sản phẩm -->
    <div class="top5finally d-flex justify-content-center p-2" id="wrapper">
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        <div class="item">
          <a href="/pages/detail-item.html" class="" style="text-decoration: none  ;">
            <img src="/public/images/jews.jpg" alt="" style="width: 300px;
                                      height: 200px; 
                                      border-top-left-radius: 20px;
                                      border-top-right-radius: 20px;" />
            <div class="itemContent mx-3 my-2">
              <h3 class="" style="color: #bacbd8">
                Lô 6 người Do Thái
              </h3>

              <span class="badge badge-warning d-flex justify-content-center align-items-center text-dark"
                style="width: 265px; height: 40px; font-size: 20px;">
                180.000.000 VND
              </span>
              <span class="badge badge-danger px-3 py-1 mt-1" style="font-size: 16px; font-weight: 400;">
                👉 TOP 1 : Lê Hồng Thái
              </span>
              <div class="detailInfo d-flex flex-direction-row justify-content-between"
                style="position:absolute;bottom: 10px;width: 265px; font-size: 12px;">
                <div class="text-muted">
                  <div class="">Ngày đăng</div>
                  <span>12/12/2012</span>
                </div>
                <div class="text-muted">
                  <div class="">Còn lại</div>
                  <span>3 ngày</span>
                </div>
                <div class="text-muted">
                  <div class="">Lượt đấu</div>
                  <span>23 lượt</span>
                </div>
              </div>
            </div>
          </a>

          <a href="###" class="love-button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

