<!DOCTYPE html>
<html lang="en">

<head>
  <title>CHỢ ĐEN</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <style>

  </style>
</head>

<footer class="section footer-classic bg-dark p-5" style="color: #8d9eac;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="/index.html"><img class="brand-logo-light" src="/images/bm.png"
              alt="" width="auto" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p>Chào mừng đến với chợ đen.</p>
          <p class="rights"><span>© </span><span class="copyright-year">2019 - </span><span> </span><span>Bản quyền
              thuộc về nhóm 2 (Web).</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Địa chỉ:</dt>
          <dd>Đại học KHTN</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="#" style="color: #8d9eac;">blackmarket@gmail.com</a></dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>Về chợ đen</h5>
        <ul style="list-style-type:none; padding-left: 0;">
          <li><a href="#" style="color: #8d9eac;">Giới thiệu</a></li>
          <li><a href="#" style="color: #8d9eac;">Liên hệ</a></li>
          <li><a href="#" style="color: #8d9eac;">Tuyển dụng</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>