<!DOCTYPE html>
<html lang="en">

<head>
    <title>CHỢ ĐEN</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <style>
        .custom{
            width: 8em;
        }
    </style>
</head>

<div class="card bg-dark" style="width:20em; color: #8d9eac;">
    <img src="/images/jews.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="container" style="font-size: medium;">
            <div class="row">
                <h5 class="col-md-10">Lô 6 người Do Thái</h5>
                <button type="button" class="btn btn-default" style="width: 15; height: 15;">
                    <img class="mb-4" src="/icons/heart.svg" alt="" width="15" height="15">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>
                    <span class="badge badge-warning">180.000.000 VNĐ</span>
                </h3>
            </div>
            <div class="col-md-4" style="font-size: small; align-self: center;">
                Le Tan Thinh
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>
                    <span class="badge badge-warning">500.000.000 VNĐ</span>
                </h3>
            </div>
            <div class="col-md-4">
                <h3>
                    <span class="badge badge-danger" style="font-size: x-small;">Giá mua ngay</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-warning custom">Ra giá</button>
            </div>
            <div class="col-md-6">
                <h3>
                    <button type="button" class="btn btn-danger custom">Mua ngay</button>
                </h3>
            </div>
        </div>
    </div>


    <div class="container" style="font-size: x-small;">
        <div class="row">
            <div class="col-md-4">Từ 30/11/2019</div>
            <div class="col-md-4">Còn lại: 23h39m</div>
            <div class="col-md-4">Số lượt: 12 lượt</div>
        </div>
    </div>
</div>